<!-- Project: Spice App Website -->
<!-- Course: CS495  -->
<!-- Date: 2/11/19 -->

<!DOCTYPE html>
<Html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Team: Spice | Team Members</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" href="../Css/stylesheet.css" type="text/css">
    <!-- Favicon links -->
    <link rel="apple-touch-icon" sizes="57x57" href="../Favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../Favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../Favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../Favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../Favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../Favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../Favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../Favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../Favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../Favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../Favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../Favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../Favicon/favicon-16x16.png">
    <link rel="manifest" href="../Favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../Favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- JS function scripts -->
    <script defer src="../Js/app.js"></script>

    <!-- JQuery, Popper.js, and Bootstrap scripts -->
    <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <!-- <a class="navbar-brand" href="#">Carousel</a> -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Spice Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="downloads.html">Devliverables</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="team.html">Development Team <span class="sr-only">(current)</span></a>
              </li>
            </ul>
            <form id="searchform" class="form-inline mt-2 mt-md-0" method="get" action="index.html">
              <input id="search" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>

        <!-- <div class="collapse bg-dark" id="navbarHeader">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">About</h4>
                <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
              </div>
              <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Contact</h4>
                <ul class="list-unstyled">
                  <li><a href="#" class="text-white">Follow on Twitter</a></li>
                  <li><a href="#" class="text-white">Like on Facebook</a></li>
                  <li><a href="#" class="text-white">Email me</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar navbar-dark bg-dark box-shadow">
          <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
              <strong>Album</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div> -->
      </header>
      
      <main role="main">
      
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <!-- {% include icons/placeholder.svg width="100%" height="100%" background="#777" color="#777" text=" " title=" " %} -->
                <img class="img-fluid transOp" width="100%" height="100%" src="../Images/chopping-board-colorful-colourful-616360.jpg" alt="Responsive cutting board image">
              <div class="container">
                  <div class="carousel-caption text-left text-light font-weight-bold">
                    <h1 class="font-weight-bold">App Updates</h1>
                    <h3 class="font-weight-bold">Sign up for updates on our latest app progress!</h3>
                  <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <!-- {% include icons/placeholder.svg width="100%" height="100%" background="#777" color="#777" text=" " title=" " %} -->
              <img class="img-fluid transOp" width="100%" height="100%" src="../Images/cinnamon-sticks-citrus-close-up-1735095.jpg" alt="Responsive spice image">
              <div class="container">
                  <div class="carousel-caption text-lg-left text-light font-weight-bold">
                    <h1 class="font-weight-bold">Gallery</h1>
                    <h3 class="font-weight-bold">Interested in</h3>
                    <h3 class="font-weight-bold">our progress?</h3>
                    <h3 class="font-weight-bold">Click the link below
                    <h3 class="font-weight-bold">to learn more!</h3>
                  <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <!-- {% include icons/placeholder.svg width="100%" height="100%" background="#777" color="#777" text=" " title=" " %} -->
              <img class="img-fluid transOp" width="100%" height="100%" src="../Images/appetizers-chef-cooking-1267320.jpg" alt="Responsive spice image">
              <div class="container">
                  <div class="carousel-caption text-lg-right text-light font-weight-bold">
                    <h1 class="font-weight-bold">Contact</h1>
                    <h3 class="font-weight-bold">Whatever your needs, our</h3>
                    <h3 class="font-weight-bold">spice team is ready to help 24/7!</h3>
                  <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      
      
        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->
      
        <div class="container marketing">
      
          <!-- Three columns of text below the carousel -->
          <!-- <div class="row">
            <div class="col-lg-4">
              {% include icons/placeholder.svg width="140" height="140" background="#777" color="#777" class="rounded-circle" %}
              <h2>Heading</h2>
              <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div> /.col-lg-4 -->
            <!-- <div class="col-lg-4">
              {% include icons/placeholder.svg width="140" height="140" background="#777" color="#777" class="rounded-circle" %}
              <h2>Heading</h2>
              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>/.col-lg-4 -->
            <!-- <div class="col-lg-4">
              {% include icons/placeholder.svg width="140" height="140" background="#777" color="#777" class="rounded-circle" %}
              <h2>Heading</h2>
              <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>/.col-lg-4 -->
          <!-- </div>/.row -->
      
      
          <!-- START THE FEATURETTES -->
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7 text-light">
              <h2 class="featurette-heading">Alan Manning</h2>
              <h4>Software Developer</h4>
              <p class="lead">I am originally from Greenville, Mississippi, and I graduate in December, 2019. I hope to live and work in
                Tuscaloosa, where I hope to attain a job as a web and mobile app developer. Having previous experience creating such applications,
                I hope to create with Spice an app that many will enjoy and utilize a great deal in their daily lives.
              </p>
            </div>
            <div class="col-md-5">
              <!-- {% include icons/placeholder.svg width="500" height="500" background="#eee" color="#aaa" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" %} -->
              <img src="../Images/IMG_1785.jpg" width="500" height="500" background="#eee" color="#aaa" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" alt="Alan">
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7 order-md-2 text-light">
              <h2 class="featurette-heading">Donald Lochbiler</h2>
              <h4>Software Developer</h4>
              <p class="lead">I am a senior computer science student from Mobile, Alabama. I graduate in May 2019 where
                I will move back home to Mobile and work. Although I have some minor experience in web development,
                this will be my first time creating an application using the Android Development Kit. Im looking forward
                to learning as much as I can this semester and excited to make something that others can find useful.</p>
            </div>
            <div class="col-md-5">
              <!-- {% include icons/placeholder.svg width="500" height="500" background="#eee" color="#aaa" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" %} -->
              <img src="../Images/DonaldPhoto.jpeg" width="500" height="500" background="#eee" color="#aaa" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" alt="Don">
            </div>
          </div>
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7 text-light">
              <h2 class="featurette-heading">Logan Dawkins</h2>
              <h4>Software Developer</h4>
              <p class="lead">I am from Birmingham, Alabama and I graduate May, 2019.
                I will start working at Lockheed Martin in Manassas, Virginia following graduation.
                This is my first time developing an android application, so I hope you all enjoy it.</p>
            </div>
            <div class="col-md-5 order-md-1">
              <!-- {% include icons/placeholder.svg width="500" height="500" background="#eee" color="#aaa" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" %} -->
              <img src="../Images/20190206_172846.jpg" width="500" height="500" background="#eee" color="#aaa" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" alt="Logan">
            </div>
          </div>
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7 order-md-2 text-light">
              <h2 class="featurette-heading">Ryan Simpson</h2>
              <h4>Software Developer</h4>
              <p class="lead">I am a senior computer science student from Mobile, Alabama. I graduate in May 2019 where
                I will move back home to Mobile and work. Although I have some minor experience in web development,
                this will be my first time creating an application using the Android Development Kit. Im looking forward
                to learning as much as I can this semester and excited to make something that others can find useful.</p>
            </div>
            <div class="col-md-5">
              <!-- {% include icons/placeholder.svg width="500" height="500" background="#eee" color="#aaa" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" %} -->
              <img src="../Images/Me.png" width="500" height="500" background="#eee" color="#aaa" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" alt="Ryan">
            </div>
          </div>
      
          <!-- /END THE FEATURETTES -->
      
        </div><!-- /.container -->
      
      
        <!-- FOOTER -->
        <footer class="container">
          <p class="float-right"><a href="#">Back to top</a></p>
          <p>&copy; 2019-2020 Spice, Inc. <!-- &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a> --></p>
        </footer>
      </main>      
</body>
</Html>
