<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spiceapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/spice_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/spice_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SetPreference"
            android:label="@string/title_activity_set_preference"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".InspectMood" />
        <activity android:name=".DistanceRange" />
        <activity android:name=".PriceRange" />
        <activity
            android:name=".ChooseCategory"
            android:label="@string/title_activity_choose_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".NameMood" />
        <activity
            android:name=".ListMoods"
            android:label="@string/title_activity_list_moods"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MealTime" />
        <activity android:name=".AdditionalDetails" />
        <activity
            android:name=".RegisterPage"
            android:label="@string/title_activity_register_page"
            android:parentActivityName=".LoginPage"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.spiceapp.LoginPage" />
        </activity>
        <activity android:name=".MapPage" />
        <activity
            android:name=".ProfilePage"
            android:label="@string/title_activity_profile_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginPage" />
        <activity
            android:name=".SocialPage"
            android:label="@string/title_activity_social_page"
            android:parentActivityName=".HomePage$HomePageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SpiceItUp"
            android:hardwareAccelerated="true"
            android:parentActivityName=".HomePage$HomePageActivity" />
        <activity android:name=".HomePage" />
        <activity android:name=".HomePage$HomePageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="hd2YSUyQZS0UPRzBpERv" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="QDCpvdviLtTQLSuJmfOLKA" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>